.root {
  display: flex;
  column-gap: 20px;
  width: 100%;
  max-width: 1520px;
  margin: 0 auto;
  padding: 40px;
}

.products {
  &_info {
    border: 1px solid #EEF0F4;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 20px;
  }

  &_title {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #1D232C;
  }
}

.filters {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
