.root {
  display: flex;
  column-gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.products {
  flex: 1;
}

.filters {
  display: flex;
  flex-direction: column;
  width: 310px;
  height: fit-content;
  padding: 8px 24px;
  background-color: #fff;
  border-radius: 18px;
  border: 1px solid rgba(224, 224, 224, 0.596);
}
